/* footer section */

.main-footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    min-height: 300px;
    align-content: center;
    z-index: -50;
}

.ft-logo {
    grid-column: 1;
    align-self: center;
    justify-self: start;
    padding-left: 150px;
}

.ft-logo-img {
    max-width: 240px;
}

.ft-contact {
    grid-column: 2;
    text-align: right;
    align-self: center;
    justify-self: center;
}

.ft-social {
    grid-column: 3;
    text-align: right;
    align-self: center;
    justify-self: center;
}

@media screen and (min-width: 736px) and (max-width: 1366px) {
    .main-footer-grid {
        min-height: 250px;
    }

    .ft-logo {
        padding-left: 100px;
    }

    .ft-logo-img {
        max-width: 220px;
    }
}

@media screen and (max-width: 736px) {
    .main-footer-grid {
        grid-template-columns: 2fr 1fr;
        grid-row-gap: 12px;
    }
    
    .ft-logo {
        grid-column: 1 / 3;
        padding: 0;
        justify-self: center;
    }

    .ft-logo-img {
        max-width: 160px;
    }

    .ft-contact {
        grid-column: 1;
        text-align: left;
        align-self: center;
    }

    .ft-social {
        grid-column: 2;
        align-self: center;
    }

}