/* form */

.field {
    display: block;
    margin-bottom: .5rem;
}

input[type="text"], input[type="email"], textarea,
input:not([type]) {
    border: none;
    border-bottom: 1px solid rgb(45, 46, 55);
    width: 600px;
    background: inherit;

    &:focus {
        outline: 2px solid $accent-color;
    }
}

textarea {
    height: 240px;
}

label {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    margin: .5rem 0;

    &:hover {
        opacity: .5;
    }

    + button {
        margin-left: 1rem;
    }

    &:focus {
        outline: 2px solid #4DFF00;
    }
}



