/* form */

.field {
    display: block;
    margin-bottom: .5rem;
}

input[type="text"], input[type="email"], textarea {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    width: 560px;
    background: inherit;

    &:focus {
        outline: 2px solid $accent-color;
    }
}

textarea {
    height: 240px;
}

label .form-title {
    padding-top: 1rem;
    padding-bottom: .5rem;
}

button {
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    margin: .5rem 0;

    + button {
        margin-left: 1rem;
    }
}

@media screen and (min-width: 736px) and (max-width: 1366px) {
    input[type="text"], input[type="email"], textarea {
        width: 500px;
    }
}


@media screen and (max-width: 736px) {
    input[type="text"], input[type="email"], textarea {
        width: 320px;
    }

    textarea {
        height: 140px;
    }
}
