/* contact page */

.con-grid {
    display: grid;
    box-sizing: border-box;
    max-width: 1680px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(160px, auto);
}


/* banner */
.con-banner {
    grid-column: 1;
}

.con-banner {
    background-image: url('../assets/cube_s03.png');
    height: 840px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.con-banner-text {
    color:white;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    -webkit-transform:  translate(-50%, -50%);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transform:  translate(-50%, -50%);
    -moz-transition: -webkit-transform .2s ease-in-out;
    transform: translate(-50%, -50%);
    transition-property: all;
    transition-property: transform .2s ease-in-out;
}

.con-banner-text:hover {
    transform: translate3d(-50%, -70%, 0);
}
