/* contact page */

.con-grid {
	display: grid;
	box-sizing: border-box;
	width: 100%;
	max-width: 1440px;
	margin-right: auto;
	margin-left: auto;
}


/* banner */

.con-banner {
	grid-column: 1;
}

.con-banner {
	background-image: url('../assets/contactBanner.jpg');
	max-width: 1440px;
	height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: white;
	z-index: -100;
}

.svg-con-mobile {display: none}

/* contact info */

.con-box1-desk {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 0px;
	padding-right: 40px;
	padding-top: 40px;
	max-width: 1440px;
}

.con-gif0 {
	grid-column: 1 / 2;
	grid-row: 1;
	justify-self: start;
	max-height: 700px;
	max-width: 100px;
	opacity: .4;
	z-index: -100;
}

.con-text1 {
	grid-column: 1;
	grid-row: 1;
	align-self: center;
	justify-self: center;
	text-align: right;
	padding-right: 20px;
}

.con-sub {
	animation-duration: 3s;
	animation-delay: 1s;
}

/* contact form */
.contact-form {
	align-self: center;
	justify-self: center;
}

/* careers */
.con-box2-desk {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	padding-left: 0px;
	padding-right: 40px;
	padding-top: 0px;
	padding-bottom: 80px;
	max-width: 1440px;
}

.con-title1 {
	grid-column: 2;
	justify-self: start;
	align-self: end;
	z-index: 100;
	max-height: 120px;
	padding-left: 30px;
	position: relative;
	-webkit-transform:  translate(-50%, -50%);
	-webkit-transition: -webkit-transform .2s ease-in-out;
	-moz-transform:  translate(-50%, -50%);
	-moz-transition: -webkit-transform .2s ease-in-out;
	transform: translate(0, 0);
	transition-property: all;
	transition-property: transform .2s ease-in-out;
}

.con-title1:hover {
	transform: translate3d(0, -20px, 0);
}

.con-title1 {
	animation-duration: 3s;
	animation-delay: 2.5s;
}

.con-text2 {
	grid-column: 2;
	justify-self: start;
	padding-top: 60px;
	padding-left: 60px;
	padding-right: 20px;
}

.con-img1 {
	grid-column: 1;
	justify-self: start;
}

.con-img1 img{
	opacity: 1;
	width: 800px;
}

.con-img1:hover {
	opacity: .95;
}

/* SER */
.con-box3-desk {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	padding-left: 40px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 300px;
	max-width: 1440px;
}

.con-img2 {
	grid-column: 2;
	justify-self: end;
}

.con-img2 img {
	opacity: 1;
	justify-self: end;
	width: 800px;
}

.con-img2:hover {
	opacity: .95;
}

.con-gif2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 1 / 2;
	justify-self: center;
	max-height: 200px;
	max-width: 500px;
	opacity: .4;
	z-index: -100;
}

.con-gif2 img {
	width: 420px;
}

.con-title2 {
	grid-column: 1;
	justify-self: end;
	align-self: start;
	z-index: 100;
	padding-right: 60px;
	text-align: right;
	position: relative;
	-webkit-transform:  translate(-50%, -50%);
	-webkit-transition: -webkit-transform .2s ease-in-out;
	-moz-transform:  translate(-50%, -50%);
	-moz-transition: -webkit-transform .2s ease-in-out;
	transform: translate(0, 0);
	transition-property: all;
	transition-property: transform .2s ease-in-out;
}

.con-title2 .subtitles {
	padding-right: 60px;
}

.con-title2:hover {
	transform: translate3d(0, -20px, 0);
}

.con-title2 {
	animation-duration: 3s;
	animation-delay: 8.25s;
}

.con-sub-ser {
	padding-right: 60px;
}

.con-text3 {
	grid-column: 1 / 3;
	grid-row: 2;
	width: 1280px;
	padding-top: 0px;
	padding-left: 100px;
	padding-right: 60px;
	padding-bottom: 40px;
	justify-self: start;
}

@media screen and (min-width: 736px) and (max-width: 1366px) {
	.con-grid {
		grid-template-columns: 1fr;
    grid-auto-rows: minmax(44px, auto);
	}

	/* banner */

	.con-banner {
		height: 400px;
	}

	/* contact info */

	.con-box1-desk {
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding-left: 0px;
		padding-right: 40px;
		padding-top: 20px;
	}

	.con-gif0 {
		grid-column: 1;
	}

	.con-gif0 img {
		width: 1000px;
	}

	.con-text1 {
		grid-column: 1;
		grid-row: 1;
		align-self: center;
		justify-self: center;
		text-align: right;
		padding-right: 20px;
	}

	/* contact form */

	.contact-form {
		align-self: center;
		justify-self: center;
	}

	/* careers */

	.con-box2-desk {
		padding-right: 0px;
		padding-top: 20px;
		padding-bottom: 40px;
	}

	.con-text2 {
		padding-top: 60px;
		padding-left: 60px;
		padding-right: 20px;
	}

	.con-img1 {
		grid-column: 1;
		justify-self: start;
	}

	.con-img1 img{
		width: 800px;
	}

	/* SER */
	.con-box3-desk {
		padding-top: 60px;
		padding-left: 0;
		padding-bottom: 200px;
	}

	.con-img2 img {
		width: 800px;
	}

	.con-gif2 {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column: 1 / 2;
		justify-self: center;
		max-height: 200px;
		max-width: 500px;
		opacity: .4;
		z-index: -100;
	}

	.con-gif2 img {
		width: 420px;
	}

	.con-text3 {
		grid-column: 1 / 3;
		grid-row: 2;
		width: 1080px;
		padding-top: 0px;
		padding-left: 100px;
		padding-right: 60px;
		padding-bottom: 40px;
		justify-self: start;
	}

}

@media screen and (max-width: 736px) {
	.con-grid {
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(44px, auto);
		padding-top: 0;
		width: 375px;
		overflow: hidden;
	}

	/* banner */
	.con-banner {
		background-image: url('../assets/contactBanner-m.jpg');
		height: 200px;
		margin-top: 15%;
		background-attachment: initial;
		max-width: 470px;
		background-position: inherit;
	}

	.con-banner > svg {
		left: 13%;
	}

	.svg-con-desktop {display: none}

	.svg-con-mobile {
		display: inherit;
	}

	/* contact info */

	.con-box1-desk {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 10px;
	}

	.con-gif0 {
		grid-column: 1;
		grid-row: 1;
		justify-self: start;
		padding-left: 80px;
		max-height: 100px;
		max-width: 0px;
		opacity: .5;
	}

	.con-gif0 img {
		width: 300px;
	}

	.con-text1 {
		grid-column: 1;
		justify-self: center;
		padding: 0;
		text-align: left;
		padding-top: 10px;
	}

	.con-sub {
		animation-duration: 3s;
		animation-delay: 1s;
	}

	/* contact form */
	.contact-form {
		grid-column: 1;
		grid-row: 2;
		padding-top: 40px;
		padding-right: 20px;
		padding-left: 20px;
	}

	/* careers */
	.con-box2-desk {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 10px;
		padding-bottom: 0;
	}

	.con-title1 {
		grid-column: 1;
		grid-row: 1;
		max-height: 144px;
		max-width: 400px;
		padding-left: 86px;
		animation-duration: 3s;
		animation-delay: 3s;
	}

	.con-text2 {
		grid-column: 1;
		justify-self: center;
		padding: 0;
		padding-top: 10px;
		padding-left: 20px;
		padding-right: 20px;
}

	.con-img1 {
		grid-column: 1;
		padding: 0;
		justify-self: start !important;
	}

	.con-img1 img{
		grid-column: 1;
		grid-row: 2;
		opacity: 1;
		width: 320px;
		padding: 0;
	}

	/* SER */
	.con-box3-desk {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
		padding: 0;
		padding-top: 20px;
		padding-bottom: 282px;
	}

	.con-img2 {
		grid-column: 1;
		grid-row: 3;
		justify-self: end;
	}

	.con-img2 img {
		grid-column: 1;
		opacity: 1;
		width: 320px;
		padding: 0;
	}

	.con-gif2 {
		grid-column: 1;
		grid-row: 1;
		justify-self: start;
		max-width: 0px;
		max-height: 120px;
		padding: 0;
		opacity: 1;
	}

	.con-gif2 img {
		width: 124px;
	}

	.con-title2 {
		grid-column: 1;
		grid-row: 4;
		max-height: 136px;
		max-width: 375px;
		justify-self: start;
		align-self: end;
		z-index: 100;
		padding-left: 20px;
	}

	.con-title2 {
		padding-right: 20px;
	}

	.con-sub-ser {
		padding-right: 20px;
	}

	.con-text3 {
		grid-column: 1;
		justify-self: center;
		align-self: center;
		padding-right: 20px;
		padding-left: 20px;
		padding-bottom: 0px;
		padding-top: 10px;
		text-align: left;
		max-width: 338px;
	}


}
