/* cube */

@charset "UTF-8";

@-webkit-keyframes anim {
    0%,10%,100%,20% {
        line-height: 54px
    }

    15%,5% {
        line-height: 75pt
    }
}

@-moz-keyframes anim {
    0%,10%,100%,20% {
        line-height: 54px
    }

    15%,5% {
        line-height: 75pt
    }
}

@-o-keyframes anim {
    0%,10%,100%,20% {
        line-height: 54pxd
    }

    15%,5% {
        line-height: 75pt
    }
}

@keyframes anim {
    0%,10%,100%,20% {
        line-height: 54px
    }

    15%,5% {
        line-height: 75pt
    }
}

.buttons-wrapper input,.buttons-wrapper input:nth-child(1):checked~label {
    display: none
}

@-webkit-keyframes anim2 {
    0%,50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes anim2 {
    0%,50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes anim2 {
    0%,50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes anim2 {
    0%,50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.buttons-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    opacity: 0;
    -webkit-perspective: 750pt;
    -moz-perspective: 750pt;
    perspective: 750pt;
    -webkit-animation: anim2 5s forwards;
    -moz-animation: anim2 5s forwards;
    -o-animation: anim2 5s forwards;
    animation: anim2 5s forwards
}

.buttons-wrapper input:nth-child(1) {
    top: 10px;
    left: 75pt
}

.buttons-wrapper input:nth-child(2) {
    top: 10px;
    left: 200px
}

.buttons-wrapper input:nth-child(3) {
    top: 10px;
    left: 300px
}

.buttons-wrapper input:nth-child(4) {
    top: 10px;
    left: 25pc
}

.buttons-wrapper input:nth-child(1):checked~.slider>li:nth-child(1) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    z-index: 2
}

.buttons-wrapper input:nth-child(1):checked~.slider>li:nth-child(2) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg)
}

.buttons-wrapper input:nth-child(1):checked~.slider>li:nth-child(3) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg)
}

.buttons-wrapper input:nth-child(1):checked~.slider>li:nth-child(4) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-260deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-260deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-260deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-260deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-260deg)
}

.buttons-wrapper input:nth-child(2):checked~.slider>li:nth-child(1) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg)
}

.buttons-wrapper input:nth-child(2):checked~.slider>li:nth-child(2) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    z-index: 2
}

.buttons-wrapper input:nth-child(2):checked~.slider>li:nth-child(3) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg)
}

.buttons-wrapper input:nth-child(2):checked~.slider>li:nth-child(4) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg)
}

.buttons-wrapper input:nth-child(3):checked~.slider>li:nth-child(1) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg)
}

.buttons-wrapper input:nth-child(3):checked~.slider>li:nth-child(2) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg)
}

.buttons-wrapper input:nth-child(3):checked~.slider>li:nth-child(3) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    z-index: 2
}

.buttons-wrapper input:nth-child(3):checked~.slider>li:nth-child(4) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg)
}

.buttons-wrapper input:nth-child(4):checked~.slider>li:nth-child(1) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(260deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(260deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(260deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(260deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(260deg)
}

.buttons-wrapper input:nth-child(4):checked~.slider>li:nth-child(2) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg)
}

.buttons-wrapper input:nth-child(4):checked~.slider>li:nth-child(3) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg)
}

.buttons-wrapper input:nth-child(4):checked~.slider>li:nth-child(4) {
    -webkit-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -moz-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -ms-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    -o-transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    z-index: 2
}

.buttons-wrapper input:nth-child(1):checked~.slider li:nth-child(2) .caption {
    -webkit-transform: rotate(1deg) rotateY(20deg) translate(0,100%);
    -moz-transform: rotate(1deg) rotateY(20deg) translate(0,100%);
    -ms-transform: rotate(1deg) rotateY(20deg) translate(0,100%);
    -o-transform: rotate(1deg) rotateY(20deg) translate(0,100%);
    transform: rotate(1deg) rotateY(20deg) translate(0,100%)
}

.buttons-wrapper input:nth-child(2):checked~.slider li:nth-child(1) .caption {
    -webkit-transform: rotate(-7deg) translate(0,-100%);
    -moz-transform: rotate(-7deg) translate(0,-100%);
    -ms-transform: rotate(-7deg) translate(0,-100%);
    -o-transform: rotate(-7deg) translate(0,-100%);
    transform: rotate(-7deg) translate(0,-100%)
}

.buttons-wrapper input:nth-child(2):checked~.slider li:nth-child(3) .caption {
    -webkit-transform: rotate(-1deg) rotateY(40deg) translate(0,100%);
    -moz-transform: rotate(-1deg) rotateY(40deg) translate(0,100%);
    -ms-transform: rotate(-1deg) rotateY(40deg) translate(0,100%);
    -o-transform: rotate(-1deg) rotateY(40deg) translate(0,100%);
    transform: rotate(-1deg) rotateY(40deg) translate(0,100%)
}

.buttons-wrapper input:nth-child(3):checked~.slider li:nth-child(2) .caption {
    -webkit-transform: rotate(1deg) rotateY(20deg) translate(0,-100%);
    -moz-transform: rotate(1deg) rotateY(20deg) translate(0,-100%);
    -ms-transform: rotate(1deg) rotateY(20deg) translate(0,-100%);
    -o-transform: rotate(1deg) rotateY(20deg) translate(0,-100%);
    transform: rotate(1deg) rotateY(20deg) translate(0,-100%)
}

.buttons-wrapper input:nth-child(3):checked~.slider li:nth-child(4) .caption {
    -webkit-transform: translate(0,100%) rotateX(20deg);
    -moz-transform: translate(0,100%) rotateX(20deg);
    -ms-transform: translate(0,100%) rotateX(20deg);
    -o-transform: translate(0,100%) rotateX(20deg);
    transform: translate(0,100%) rotateX(20deg)
}

.buttons-wrapper input:nth-child(4):checked~.slider li:nth-child(3) .caption {
    -webkit-transform: rotate(-1deg) rotateY(40deg) translate(0,-100%);
    -moz-transform: rotate(-1deg) rotateY(40deg) translate(0,-100%);
    -ms-transform: rotate(-1deg) rotateY(40deg) translate(0,-100%);
    -o-transform: rotate(-1deg) rotateY(40deg) translate(0,-100%);
    transform: rotate(-1deg) rotateY(40deg) translate(0,-100%)
}

.buttons-wrapper input:nth-child(1):checked~label:nth-of-type(2),.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(3) {
    color: #fff;
    text-align: center;
    left: 50%;
    cursor: pointer;
    -ms-transform-origin: center center;
    -moz-transform: translate(-50%,0) scale(.8);
    -o-transform: translate(-50%,0) scale(.8);
    bottom: 10%
}

.buttons-wrapper input:nth-child(1):checked~label:nth-of-type(2) {
    display: block;
    line-height: 40px;
    font-size: 20px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%,0) scale(.8);
    -ms-transform: translate(-50%,0) scale(.8);
    transform: translate(-50%,0) scale(.8);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-animation: anim 3s infinite;
    -moz-animation: anim 3s infinite;
    -o-animation: anim 3s infinite;
    animation: anim 3s infinite
}

.buttons-wrapper input:nth-child(1):checked~label:nth-of-type(2):after {
    content: '↓'
}

.buttons-wrapper input:nth-child(1):checked~label:nth-of-type(2):hover {
    -webkit-transform: translate(-50%,0) scale(1);
    -moz-transform: translate(-50%,0) scale(1);
    -ms-transform: translate(-50%,0) scale(1);
    -o-transform: translate(-50%,0) scale(1);
    transform: translate(-50%,0) scale(1);
    font-size: 30px;
    line-height: 40pt;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none
}

.buttons-wrapper input:nth-child(2):checked~label {
    display: none
}

.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(3) {
    display: block;
    line-height: 40px;
    font-size: 20px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%,0) scale(.8);
    -ms-transform: translate(-50%,0) scale(.8);
    transform: translate(-50%,0) scale(.8);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none
}

.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(3):after {
    content: '↓'
}

.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(1):after,.buttons-wrapper input:nth-child(3):checked~label:nth-of-type(2):after,.buttons-wrapper input:nth-child(4):checked~label:nth-of-type(3):after {
    content: '↑'
}

.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(3):hover {
    -webkit-transform: translate(-50%,0) scale(1);
    -moz-transform: translate(-50%,0) scale(1);
    -ms-transform: translate(-50%,0) scale(1);
    -o-transform: translate(-50%,0) scale(1);
    transform: translate(-50%,0) scale(1);
    font-size: 30px;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none
}

.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(1),.buttons-wrapper input:nth-child(3):checked~label:nth-of-type(4) {
    border-radius: 50%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    width: 60px;
    height: 60px;
    background: 0 0;
    text-align: center;
    left: 50%;
    cursor: pointer;
    color: #fff
}

.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(1) {
    display: block;
    line-height: 40px;
    font-size: 20px;
    top: 10%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%,0) scale(.8);
    -moz-transform: translate(-50%,0) scale(.8);
    -ms-transform: translate(-50%,0) scale(.8);
    -o-transform: translate(-50%,0) scale(.8);
    transform: translate(-50%,0) scale(.8);
    -o-transition: .3s;
    transition: .3s;
    animation: none
}

.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(1):hover {
    -webkit-transform: translate(-50%,0) scale(1);
    -moz-transform: translate(-50%,0) scale(1);
    -ms-transform: translate(-50%,0) scale(1);
    -o-transform: translate(-50%,0) scale(1);
    transform: translate(-50%,0) scale(1);
    font-size: 30px;
    line-height: 40px
}

.buttons-wrapper input:nth-child(2):checked~label:nth-of-type(1):hover:after {
    display: block;
    margin-top: -10px
}

.buttons-wrapper input:nth-child(3):checked~label {
    display: none
}

.buttons-wrapper input:nth-child(3):checked~label:nth-of-type(4) {
    display: block;
    line-height: 40px;
    font-size: 20px;
    bottom: 10%;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%,0) scale(.8);
    -moz-transform: translate(-50%,0) scale(.8);
    -ms-transform: translate(-50%,0) scale(.8);
    -o-transform: translate(-50%,0) scale(.8);
    transform: translate(-50%,0) scale(.8);
    -o-transition: .3s;
    transition: .3s;
    animation: none
}

.buttons-wrapper input:nth-child(3):checked~label:nth-of-type(4):after {
    content: '↓'
}

.buttons-wrapper input:nth-child(3):checked~label:nth-of-type(4):hover {
    -webkit-transform: translate(-50%,0) scale(1);
    -moz-transform: translate(-50%,0) scale(1);
    -ms-transform: translate(-50%,0) scale(1);
    -o-transform: translate(-50%,0) scale(1);
    transform: translate(-50%,0) scale(1);
    font-size: 30px;
    line-height: 40pt;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none
}

.buttons-wrapper input:nth-child(3):checked~label:nth-of-type(2) {
    display: block;
    line-height: 40px;
    font-size: 20px;
    top: 10%;
    left: 50%;
    cursor: pointer;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%,0) scale(.8);
    -moz-transform: translate(-50%,0) scale(.8);
    -ms-transform: translate(-50%,0) scale(.8);
    -o-transform: translate(-50%,0) scale(.8);
    transform: translate(-50%,0) scale(.8);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none
}

.buttons-wrapper input:nth-child(3):checked~label:nth-of-type(2):hover {
    -webkit-transform: translate(-50%,0) scale(1);
    -moz-transform: translate(-50%,0) scale(1);
    -ms-transform: translate(-50%,0) scale(1);
    -o-transform: translate(-50%,0) scale(1);
    transform: translate(-50%,0) scale(1);
    font-size: 44px;
    line-height: 1px
}

.buttons-wrapper input:nth-child(3):checked~label:nth-of-type(2):hover:after {
    display: block;
    margin-top: -10px
}

.buttons-wrapper input:nth-child(4):checked~label {
    display: none
}

.buttons-wrapper input:nth-child(4):checked~label:nth-of-type(3) {
    display: block;
    line-height: 40px;
    font-size: 20px;
    top: 10%;
    left: 50%;
    cursor: pointer;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    -webkit-transform: translate(-50%,0) scale(.8);
    -moz-transform: translate(-50%,0) scale(.8);
    -ms-transform: translate(-50%,0) scale(.8);
    -o-transform: translate(-50%,0) scale(.8);
    transform: translate(-50%,0) scale(.8);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-animation: none;
    -moz-animation: none;
    -o-animation: none;
    animation: none
}

.buttons-wrapper .slider>li,.buttons-wrapper .slider>li:nth-child(1) .caption {
    -webkit-transition: 3s cubic-bezier(.5,0,0,.99);
    -moz-transition: 3s cubic-bezier(.5,0,0,.99)
}

.buttons-wrapper input:nth-child(4):checked~label:nth-of-type(3):hover {
    -webkit-transform: translate(-50%,0) scale(1);
    -moz-transform: translate(-50%,0) scale(1);
    -ms-transform: translate(-50%,0) scale(1);
    -o-transform: translate(-50%,0) scale(1);
    transform: translate(-50%,0) scale(1);
    font-size: 44px;
    line-height: 1px;
    color: #2D3D59
}

.buttons-wrapper input:nth-child(4):checked~label:nth-of-type(3):hover:after {
    display: block;
    margin-top: -10px
}

.buttons-wrapper label {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    position: fixed;
    backface-visibility: hidden;
    z-index: 10;
    bottom: 75pt;
    left: 75pt
}

.buttons-wrapper .slider {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    opacity: .99
}

.buttons-wrapper .slider>li {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-transition: 3s cubic-bezier(.5,0,0,.99);
    transition: 3s cubic-bezier(.5,0,0,.99);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 750pt;
    -moz-perspective: 750pt;
    perspective: 750pt
}

.buttons-wrapper .slider>li:nth-child(1) {
    background: url('../assets/cube_s01.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform-origin: center center -50vh;
    -moz-transform-origin: center center -50vh;
    -ms-transform-origin: center center -50vh;
    -o-transform-origin: center center -50vh;
    transform-origin: center center -50vh
}

.buttons-wrapper .slider>li:nth-child(1) .caption {
    position: absolute;
    width: 1460px;
    text-align: center;
    color: white;
    right: 6.5%;
    top: 40%;
    text-shadow: 0 2px 10px #000,0 1px 1px rgba(0,0,0,.5);
    -o-transition: 3s cubic-bezier(.5,0,0,.99);
    transition: 3s cubic-bezier(.5,0,0,.99)
}

.buttons-wrapper .slider>li:nth-child(2) .caption,.buttons-wrapper .slider>li:nth-child(3) .caption {
    color: white;
    -webkit-transition: 3s cubic-bezier(.5,0,0,.99);
    -moz-transition: 3s cubic-bezier(.5,0,0,.99);
    -o-transition: 3s cubic-bezier(.5,0,0,.99);
    text-shadow: 0 2px 10px #000,0 1px 1px rgba(0,0,0,.5)
}

.buttons-wrapper .slider>li:nth-child(1) .caption a,.buttons-wrapper .slider>li:nth-child(1) .caption h1 {
    color: white;
}

.buttons-wrapper .slider>li:nth-child(2) {
    background: url('../assets/cube_s02.jpg') center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform-origin: center center -50vh;
    -moz-transform-origin: center center -50vh;
    -ms-transform-origin: center center -50vh;
    -o-transform-origin: center center -50vh;
    transform-origin: center center -50vh
}

.buttons-wrapper .slider>li:nth-child(2) .caption {
    position: absolute;
    width: 1460px;
    text-align: center;
    color: white;
    right: 6.5%;
    top: 40%;
    transition: 3s cubic-bezier(.5,0,0,.99)
}

.buttons-wrapper .slider>li:nth-child(2) .caption a,.buttons-wrapper .slider>li:nth-child(2) .caption h1 {
    color: white;
}

.buttons-wrapper .slider>li:nth-child(3) {
    background: url('../assets/cube_s03.png') bottom center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform-origin: center center -50vh;
    -moz-transform-origin: center center -50vh;
    -ms-transform-origin: center center -50vh;
    -o-transform-origin: center center -50vh;
    transform-origin: center center -50vh
}

.buttons-wrapper .slider>li:nth-child(3) .caption {
    position: absolute;
    width: 1460px;
    text-align: center;
    color: white;
    right: 6.5%;
    top: 40%;
    transition: 3s cubic-bezier(.5,0,0,.99)
}

.buttons-wrapper .slider>li:nth-child(3) .caption a,.buttons-wrapper .slider>li:nth-child(3) .caption h1 {
    color: #fff
}

.buttons-wrapper .slider>li:nth-child(3) .caption h1 {
    text-align: center
}

.buttons-wrapper .slider>li:nth-child(4) {
    background: url('../assets/cube_s04.jpg') bottom left no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform-origin: center center -50vh;
    -moz-transform-origin: center center -50vh;
    -ms-transform-origin: center center -50vh;
    -o-transform-origin: center center -50vh;
    transform-origin: center center -50vh
}

.buttons-wrapper .slider>li:nth-child(4) .caption {
    position: absolute;
    width: 1460px;
    text-align: center;
    color: white;
    right: 6.5%;
    top: 40%;
    text-shadow: 0 2px 10px #000,0 1px 1px rgba(0,0,0,.5);
    -webkit-transition: 3s cubic-bezier(.5,0,0,.99);
    -moz-transition: 3s cubic-bezier(.5,0,0,.99);
    -o-transition: 3s cubic-bezier(.5,0,0,.99);
    transition: 3s cubic-bezier(.5,0,0,.99)
}

.buttons-wrapper .slider>li:nth-child(4) .caption a,.buttons-wrapper .slider>li:nth-child(4) .caption h1 {
    color: #fff
}

.buttons-wrapper .slider>li:nth-child(4) .caption h1 {
    text-align: center
}


// @media (max-width:768px) {

// }