/* cube */

@charset "UTF-8";

@-webkit-keyframes anim {
    0%,10%,100%,20% {
        line-height: 54px
    }

    15%,5% {
        line-height: 75pt
    }
}

@-moz-keyframes anim {
    0%,10%,100%,20% {
        line-height: 54px
    }

    15%,5% {
        line-height: 75pt
    }
}

@-o-keyframes anim {
    0%,10%,100%,20% {
        line-height: 54px
    }

    15%,5% {
        line-height: 75pt
    }
}

@keyframes anim {
    0%,10%,100%,20% {
        line-height: 54px
    }

    15%,5% {
        line-height: 75pt
    }
}

.buttons-wrapper input, #slide1:checked ~ .link1 {
    display: none
}

@-webkit-keyframes anim2 {
    0%,50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes anim2 {
    0%,50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes anim2 {
    0%,50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes anim2 {
    0%,50% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.buttons-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    opacity: 0;
    perspective: 750pt;
    animation: anim2 5s forwards
}

input {
	#slide1 {
		top: 10px;
		left: 75pt;
	}

	#slide2 {
		top: 10px;
		left: 200px;
	}

	#slide3 {
		top: 10px;
		left: 300px;
	}

	#slide4 {
		top: 10px;
		left: 25pc;
	}
}

#slide1:checked ~ #hm-side1 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    z-index: 2
}

#slide1:checked ~ #hm-side2 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg)
}

#slide1:checked ~ #hm-side3 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg)
}

#slide1:checked ~ #hm-side4 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-260deg)
}

#slide2:checked ~ #hm-side1 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg)
}

#slide2:checked ~ #hm-side2 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    z-index: 2
}

#slide2:checked ~ #hm-side3 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg)
}

#slide2:checked ~ #hm-side4 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-180deg)
}

#slide3:checked ~ #hm-side1 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg)
}

#slide3:checked ~ #hm-side2 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg)
}

#slide3:checked ~ #hm-side3 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    z-index: 2
}

#slide3:checked ~ #hm-side4 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(-90deg)
}

#slide4:checked ~ #hm-side1 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(260deg)
}

#slide4:checked ~ #hm-side2 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(180deg)
}

#slide4:checked ~ #hm-side3 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(90deg)
}

#slide4:checked ~ #hm-side4 {
    transform: perspective(100em) translate3d(0,0,-50vh) rotateX(0);
    z-index: 2
}

#slide1:checked ~ .side2 {
    transform: rotate(1deg) rotateY(20deg) translate(0,100%)
}

#slide2:checked ~ .side1 {
    transform: rotate(-7deg) translate(0,-100%)
}

#slide2:checked ~ .side3 {
    transform: rotate(-1deg) rotateY(40deg) translate(0,100%)
}

#slide3:checked ~ .side2 {
    transform: rotate(1deg) rotateY(20deg) translate(0,-100%)
}

#slide3:checked ~ .side4 {
    transform: translate(0,100%) rotateX(20deg)
}

#slide4:checked ~ .side3 {
    transform: rotate(-1deg) rotateY(40deg) translate(0,-100%)
}


#slide1:checked ~ a:nth-of-type(2), #slide2:checked ~ .link3 {
    color: #fff;
    text-align: center;
    left: 50%;
    cursor: pointer;
    // -ms-transform-origin: center center;
    // -moz-transform: translate(-50%,0) scale(.8);
    // -o-transform: translate(-50%,0) scale(.8);
    bottom: 10%
}

#slide1:checked ~ .link2 {
    display: block;
    line-height: 40px;
    font-size: 20px;
    transform-origin: center center;
    transform: translate(-50%,0) scale(.8);
    transition: .3s;
    animation: anim 3s infinite
}

#slide1:checked ~ .link2:after {
    content: '↓'
}

#slide1:checked ~ .link2:hover {
    transform: translate(-50%,0) scale(1);
    font-size: 30px;
    line-height: 40pt;
    animation: none
}

#slide2:checked ~ .link1, .link2, .link4 {
    display: none
}

#slide2:checked ~ .link3 {
    display: block;
    line-height: 40px;
    font-size: 20px;
    transform-origin: center center;
    transform: translate(-50%,0) scale(.8);
    transition: .3s;
    animation: none
}

#slide2:checked ~ .link3:after {
    content: '↓'
}

#slide2:checked ~ .link1:after, #slide3:checked ~ .link2:after, #slide4:checked ~ .link3:after {
    content: '↑'
}

#slide2:checked ~ .link3:hover {
    transform: translate(-50%,0) scale(1);
    font-size: 30px;
    animation: none
}

#slide2:checked ~ .link1, #slide3:checked ~ .link4 {
    border-radius: 50%;
    // -webkit-transition: .3s;
    // -moz-transition: .3s;
    // -webkit-animation: none;
    // -moz-animation: none;
    // -o-animation: none;
    width: 60px;
    height: 60px;
    background: 0 0;
    text-align: center;
    left: 50%;
    cursor: pointer;
    color: #fff
}

#slide2:checked ~ .link1 {
    display: block;
    line-height: 40px;
    font-size: 20px;
    top: 10%;
    transform-origin: center center;
    transform: translate(-50%,0) scale(.8);
    transition: .3s;
    animation: none
}

#slide2:checked ~ .link1:hover {
    transform: translate(-50%,0) scale(1);
    font-size: 30px;
    line-height: 40px
}

#slide2:checked ~ .link1:hover:after {
    display: block;
    margin-top: -10px
}

#slide3:checked ~ .link1, .link2, .link3 {
    display: none
}

#slide3:checked ~ .link4 {
    display: block;
    line-height: 40px;
    font-size: 20px;
    bottom: 10%;
    transform-origin: center center;
    transform: translate(-50%,0) scale(.8);
    transition: .3s;
    animation: none
}

#slide3:checked ~ .link4:after {
    content: '↓'
}

#slide3:checked ~ .link4:hover {
    transform: translate(-50%,0) scale(1);
    font-size: 30px;
    line-height: 40pt;
    animation: none
}

#slide3:checked ~ .link2 {
    display: block;
    line-height: 40px;
    font-size: 20px;
    top: 10%;
    left: 50%;
    cursor: pointer;
    transform-origin: center center;
    transform: translate(-50%,0) scale(.8);
    transition: .3s;
    animation: none
}

#slide3:checked ~ .link2:hover {
    transform: translate(-50%,0) scale(1);
    font-size: 44px;
    line-height: 1px
}

#slide3:checked ~ .link2:hover:after {
    display: block;
    margin-top: -10px
}

#slide4:checked ~ .link1, .link2, .link4 {
    display: none
}

#slide4:checked ~ .link3 {
    display: block;
    line-height: 40px;
    font-size: 20px;
    top: 10%;
    left: 50%;
    cursor: pointer;
    transform-origin: center center;
    transform: translate(-50%,0) scale(.8);
    transition: .3s;
    animation: none
}

// .buttons-wrapper .slider>li, .side1 {
//     -webkit-transition: 3s cubic-bezier(.5,0,0,.99);
//     -moz-transition: 3s cubic-bezier(.5,0,0,.99)
// }

#slide4:checked ~ .link3:hover {
    transform: translate(-50%,0) scale(1);
    font-size: 44px;
    line-height: 1px;
    color: #2D3D59
}

#slide4:checked ~ .link3:hover:after {
    display: block;
    margin-top: -10px
}

.link1, .link2, .link3, .link4 {
    display: block;
    width: 40px;
    height: 40px;
    background: transparent;
    position: fixed;
    backface-visibility: hidden;
    z-index: 10;
    bottom: 75pt;
    left: 75pt
}

.buttons-wrapper .slider {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 2;
    opacity: .99
}

.buttons-wrapper .slider>li {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 3s cubic-bezier(.5,0,0,.99);
    backface-visibility: hidden;
    perspective: 750pt
}

#hm-side1 {
    background: url('../assets/cube_s01.jpg') center center no-repeat;
    background-size: cover;
    transform-origin: center center -50vh
}

.side1 {
    position: absolute;
    width: 1460px;
    text-align: center;
    color: white;
    right: 6.5%;
    top: 30%;
    transition: 3s cubic-bezier(.5,0,0,.99)
}

// .side2 {
//     color: white;
//     -webkit-transition: 3s cubic-bezier(.5,0,0,.99);
//     -moz-transition: 3s cubic-bezier(.5,0,0,.99);
//     -o-transition: 3s cubic-bezier(.5,0,0,.99);
//     text-shadow: 0 2px 10px #000,0 1px 1px rgba(0,0,0,.5)
// }

.side1 a, .side1 h1 {
    color: white;
}

#hm-side2 {
    background: url('../assets/cube_s02.jpg') center center no-repeat;
    background-size: cover;
    transform-origin: center center -50vh
}

.side2  {
    position: absolute;
    width: 1460px;
    text-align: center;
    color: white;
    right: 6.5%;
    top: 40%;
    transition: 3s cubic-bezier(.5,0,0,.99)
}

.side2 a, .side2 h1 {
    color: white;
}

#hm-side3 {
    background: url('../assets/cube_s03.png') bottom center no-repeat;
    background-size: cover;
    transform-origin: center center -50vh
}

 .side3 {
    position: absolute;
    width: 1460px;
    text-align: center;
    color: white;
    right: 6.5%;
    top: 40%;
    transition: 3s cubic-bezier(.5,0,0,.99)
}

 .side3 a, .side3 h1 {
    color: #fff
}

 .side3 h1 {
    text-align: center
}

#hm-side4 {
    background: url('../assets/cube_s04.jpg') bottom left no-repeat;
    background-size: cover;
    transform-origin: center center -50vh
}

.side4 {
    position: absolute;
    width: 1460px;
    text-align: center;
    color: white;
    right: 6.5%;
    top: 40%;
    transition: 3s cubic-bezier(.5,0,0,.99)
}

.side4 a, .side4 h1 {
    color: #fff
}

.side4 h1 {
    text-align: center
}


// @media (max-width:768px) {

// }
