/* home page */


.hm-grid {
    display: grid;
    box-sizing: border-box;
    max-width: 1680px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(160px, auto);
    padding-top: 160px;
}

.hm-box1 {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.hm-pg-img {
    max-width: 1200px;
}

.hm-box1-mob {
    display: none;
}


@media screen and (min-width: 736px) and (max-width: 1366px) {
    .hm-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(44px, auto);
        padding-top: 120px;
    }

    .hm-pg-img {
        max-width: 836px;
    }

    .hm-box1-mob {
        display: none;
    }    

}

@media screen and (max-width: 736px) {
    .hm-grid {
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(44px, auto);
        padding-top: 0;    
    }

    .hm-box1 {
        display: none;
    }

    .hm-box1-mob {
        display: grid;
        grid-column: 1;
        padding: 0;
        padding-top: 14px;  
        justify-self: center;
    }

    .hm-pg-img {
        max-width: 366px;
    }

}