/* home page */

.hm-grid {
    display: grid;
    box-sizing: border-box;
    max-width: 1680px;
    grid-template-columns: 1fr;
    justify-items: center;
}





// @media screen and (min-width: 736px) and (max-width: 1366px) {
//     .hm-grid {
//         grid-template-columns: 1fr;
//         padding-top: 120px;
//     }
// }

// @media screen and (max-width: 736px) {
//     .hm-grid {
//         grid-template-columns: 1fr;
//         padding-top: 0;    
//     }
// }









/* cube */

// .pt-page-rotateCubeLeftOut {
// 	-webkit-transform-origin: 100% 50%;
// 	transform-origin: 100% 50%;
// 	-webkit-animation: rotateCubeLeftOut .6s both ease-in;
// 	animation: rotateCubeLeftOut .6s both ease-in;
// }
// .pt-page-rotateCubeLeftIn {
// 	-webkit-transform-origin: 0% 50%;
// 	transform-origin: 0% 50%;
// 	-webkit-animation: rotateCubeLeftIn .6s both ease-in;
// 	animation: rotateCubeLeftIn .6s both ease-in;
// }
// .pt-page-rotateCubeRightOut {
// 	-webkit-transform-origin: 0% 50%;
// 	transform-origin: 0% 50%;
// 	-webkit-animation: rotateCubeRightOut .6s both ease-in;
// 	animation: rotateCubeRightOut .6s both ease-in;
// }
// .pt-page-rotateCubeRightIn {
// 	-webkit-transform-origin: 100% 50%;
// 	transform-origin: 100% 50%;
// 	-webkit-animation: rotateCubeRightIn .6s both ease-in;
// 	animation: rotateCubeRightIn .6s both ease-in;
// }
// .pt-page-rotateCubeTopOut {
// 	-webkit-transform-origin: 50% 100%;
// 	transform-origin: 50% 100%;
// 	-webkit-animation: rotateCubeTopOut .6s both ease-in;
// 	animation: rotateCubeTopOut .6s both ease-in;
// }
// .pt-page-rotateCubeTopIn {
// 	-webkit-transform-origin: 50% 0%;
// 	transform-origin: 50% 0%;
// 	-webkit-animation: rotateCubeTopIn .6s both ease-in;
// 	animation: rotateCubeTopIn .6s both ease-in;
// }
// .pt-page-rotateCubeBottomOut {
// 	-webkit-transform-origin: 50% 0%;
// 	transform-origin: 50% 0%;
// 	-webkit-animation: rotateCubeBottomOut .6s both ease-in;
// 	animation: rotateCubeBottomOut .6s both ease-in;
// }
// .pt-page-rotateCubeBottomIn {
// 	-webkit-transform-origin: 50% 100%;
// 	transform-origin: 50% 100%;
// 	-webkit-animation: rotateCubeBottomIn .6s both ease-in;
// 	animation: rotateCubeBottomIn .6s both ease-in;
// }
