/* news page */

.news-grid {
    display: grid;
    box-sizing: border-box;
    max-width: 1680px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(160px, auto);
}

/* banner */
.news-banner {
    grid-column: 1;
}

.news-banner {
    background-image: url('../assets/cube_s03.png');
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}

.news-banner-text {
    color:white;
    text-align: center;
    position: absolute;
    top: 4.5%;
    left: 50%;
    -webkit-transform:  translate(-50%, -50%);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transform:  translate(-50%, -50%);
    -moz-transition: -webkit-transform .2s ease-in-out;
    transform: translate(-50%, -50%);
    transition-property: all;
    transition-property: transform .2s ease-in-out;
}

.news-banner-text:hover {
    transform: translate3d(-50%, -70%, 0);
}

/* latest headlines */
.news-box1-desk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-gif1 {
    grid-column: 1;
    justify-self: start;
    min-width: 600px;
}

.news-title1 {
    justify-self: start;
    align-self: end;
    z-index: 100;
    position: relative;
    -webkit-transform:  translate(0, 0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transform:  translate(0, 0);
    -moz-transition: -webkit-transform .2s ease-in-out;
    transform: translate(0, 0);
    transition-property: all;
    transition-property: transform .2s ease-in-out;
}

.news-title1:hover {
    transform: translate3d(0, -30px, 0);
}

.news-title1 {
    animation-duration: 5s;
    animation-delay: 3.5s;
}

/* news 1 */
.news-box2-desk {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 0px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-text1 {
    justify-self: start;
    padding-left: 20px;
}

.news-img1 > img {
    height: 600px;
    opacity: 1;
    position: relative;
    -webkit-transform:  translate(0, 0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transform:  translate(0, 0);
    -moz-transition: -webkit-transform .2s ease-in-out;
    transform: translate(0, 0);
    transition-property: all;
    transition-property: transform .2s ease-in-out;
}

.news-img1 > img:hover {
    opacity: .5;
    transform: translate3d(0, -30px, 0);
}

.news-sub1 {
    animation-duration: 5s;
    animation-delay: 5.5s;
}

.actionLink {
    position: relative;
    -webkit-transform:  translate(0, 0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transform:  translate(0, 0);
    -moz-transition: -webkit-transform .2s ease-in-out;
    transform: translate(0, 0);
    transition-property: all;
    transition-property: transform .2s ease-in-out;
}

.actionLink:hover {
    transform: translate3d(20px, 0, 0);
}

/* news 2 */
.news-box3-desk {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-left: 100px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-text2 {
    justify-self: end;
    padding-right: 20px;
}

.news-img2 {
    justify-self: end;
}

.news-img2 > img {
    height: 600px;
    opacity: 1;
    position: relative;
    -webkit-transform:  translate(0, 0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transform:  translate(0, 0);
    -moz-transition: -webkit-transform .2s ease-in-out;
    transform: translate(0, 0);
    transition-property: all;
    transition-property: transform .2s ease-in-out;
}

.news-img2 > img:hover {
    opacity: .5;
    transform: translate3d(0, -30px, 0);
}

.news-sub2 {
    animation-duration: 5s;
    animation-delay: 7s;
}

/* news 3 */
.news-box4-desk {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-left: 0px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-text3 {
    justify-self: start;
    padding-left: 20px;
}

.news-img3 > img {
    height: 600px;
    opacity: 1;
    position: relative;
    -webkit-transform:  translate(0, 0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transform:  translate(0, 0);
    -moz-transition: -webkit-transform .2s ease-in-out;
    transform: translate(0, 0);
    transition-property: all;
    transition-property: transform .2s ease-in-out;
}

.news-img3 > img:hover {
    opacity: .5;
    transform: translate3d(0, -20px, 0);
}

.news-sub3 {
    animation-duration: 5s;
    animation-delay: 10s;
}

/* medium blog */
.news-box5-desk {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-box6-desk {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logoMedium-img {
    justify-self: center;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.logoMedium-img > img {
    height: 200px;
}

.news-text4 {
    align-self: center;
    padding-left: 20px;
}


// @media screen and (min-width: 736px) and (max-width: 1366px) {
//     .news-grid {
//         grid-template-columns: 1fr auto;
//         grid-auto-rows: minmax(44px, auto);
//     }

// }

// @media screen and (max-width: 736px) {
//     .news-grid {
//         grid-template-columns: 1fr auto;
//         grid-auto-rows: minmax(44px, auto);
//         grid-gap: 12px;
//         padding-top: 0;
//     }
// }
