$primary-color: black;
$var: rgb(245, 245, 245);

$second-color: white;
$var2: black;

$accent-color: #17468f;
$seahawk-color: #4DFF00;


html, body, #root {
	height: 100%;
	width: 100%;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

body {
	padding: 0;
	background: $var;
	color: $primary-color;
}

.App {
	position: relative;
	display: flex;
	flex-flow: column;
}

.navBar {
	background-color: rgba(0,0,0,.15);
	height: 86px;
	position: absolute;
	min-width: 100%;
	z-index: 100000;
}

.logo {
	display: inline-block;
  height: 48px;
  margin: .75em 0;
	width: 100px;

	img {
		width: 200px;
	}
}

.wrapper {
  margin: 0;
	max-width: 1320px;
  padding: 0 2%;
}

nav {
	ul {
		display: flex;
    justify-content: space-between;
    list-style-type: none;
		width: 50%;
		margin-top: 2.25%;

    a {
      color: $second-color;
      text-decoration: none;
      transition: all .5s ease;

      &:hover {color: $seahawk-color;}
    }
  }

  li  {
    display: inline-block;
	}

	#menu-toggle {display: none;}

	.label-toggle {display: none;}

	.wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
}

.sidenav {
	z-index: 100000;
	max-height: 0px;
}

.sidenav a {
	text-align: right;
	position: fixed;
	left: -100px;
	transition: 0.3s;
	padding: 20px;
	width: 200px;
	text-decoration: none;
	font-size: 18px;
	color: white;
}

.sidenav a:hover {
	left: 0;
	color: #4DFF00;
	padding-right: 50px;
}

.side-contact {
	top: 200px;
	background-color: $accent-color;
}

.hm-grid, .ab-grid, .srv-grid, .news-grid, .con-grid {
	padding-top: 0;
	padding-bottom: 0;
}

svg {
	position: relative;
	width: 100%;
	top: 0%;
	left: 0%;
}

	$max: 5;
	$stroke-step: 1%;
	.text-copy {
		fill: none;
		stroke: white;
		stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
		stroke-width: .75px;

	animation: stroke-offset 6s;

	@for $item from 1 through $max {
		$stroke-color: white;

		&:nth-child(#{$item}) {
			stroke: $stroke-color;
			stroke-dashoffset: $stroke-step * $item;
		}
	}
}

@keyframes stroke-offset {
	50% {
		stroke-dashoffset: $stroke-step * $max;
		stroke-dasharray: 0 $stroke-step * $max * 2.5;
	}
}

a {
	color: $primary-color;
	text-decoration: none;
}

a:hover {
	color: $accent-color;
}

button, .side-contact, .ctaTrain {
	background: $accent-color;
	color: $second-color;
	border-radius: 3px 3px 3px 3px;
}

button:hover, button a:hover, .slider a:hover, .ctaTrain:hover {
	color: $seahawk-color;
	border: 1px solid $accent-color;
	border-color: $accent-color;
	background-color: transparent;
}

.pg-footer {
	background: $var;
	color: $primary-color;
}

// .sidenav-mob {
// 	display: none;
// }

@media screen and (max-width: 768px) {

	* {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
	}

html, body{
    margin:0px;
    padding:0px;
}

.navBar {
	background-color: $accent-color;
	position: fixed;
	height: 60px;
	z-index: 999999;
}

	nav {
		ul {
			a {
				color: $second-color;
				transition: all .5s ease !important;
			}
		}
		ul {
			background-color: $accent-color;
			display: block;
			height: 0;
			list-style-type: none;
			opacity: 0;
			text-align: center;
			transition: all .25s ease !important;
			width: 100%;
			visibility: hidden;
			padding: 0;
			margin-top: 0;
		}

		li {
			color: $second-color;
			display: block;
			padding-top: .5em;
			padding-bottom: .5em;
			text-transform: uppercase;
		}


		#menu-toggle:checked ~ ul {
			opacity: 1;
			height: 34vh;
			visibility: visible;
		}

		.label-toggle {
			display: block !important;
			background: linear-gradient(to bottom, $second-color 0%, $accent-color 20%, transparent 20%, transparent 40%, $second-color 40%, $accent-color 60%, transparent 60%, transparent 80%, $second-color 80%, $accent-color 100%); //Gradient Hamburger
			cursor: pointer;
			float: right;
			height: 20px;
			margin-top: 1.5em;
			margin-right: 1em;
			width: 35px;
		}

		.wrapper {
			display: block;
			margin: 0 auto;
			padding: 0;
			background-color: $accent-color;
		}

		.logo img{
			width: 120px;
			padding-left: 15%;
			padding-top: 5%;
		}
	}

	.sidenav a {
		text-align: right;
		position: absolute;
		left: -14px;
		padding: 12px;
		padding-right: 16px;
		width: 120px;
		text-decoration: none;
		font-size: 18px;
		color: white;
		transition: none;
		z-index: 999999;
	}

	.sidenav a:hover {
		color: #4DFF00;
		left: -14px;
		padding-right: 16px;
	}

	.side-contact {
		top: 205px;
		background-color: $accent-color;
		z-index: 999999;
	}

	svg {
		position: inherit;
		width: 100%;
		top: 53%;
		left: 21%;
		overflow: hidden;
	}

		$max: 5;
		$stroke-step: 1%;
		.text-copy {
			fill: none;
			stroke: white;
			stroke-dasharray: $stroke-step $stroke-step * ($max - 1);
			stroke-width: 1.5px;

	animation: stroke-offset 6s;

	@for $item from 1 through $max {
		$stroke-color: white;

		&:nth-child(#{$item}) {
			stroke: $stroke-color;
			stroke-dashoffset: $stroke-step * $item;
			}
		}
	}

	@keyframes stroke-offset {
		50% {
			stroke-dashoffset: $stroke-step * $max;
			stroke-dasharray: 0 $stroke-step * $max * 2.5;
		}
	}

	.news-banner > svg {
		top: 34%;
		left: 28%;
	}

	.con-banner > svg {
		top: 34%;
		left: 15%;
	}

}
