
$font-title: 'Ramabhadra', sans-serif;
$font-body: 'Open Sans', sans-serif;

$font-titleVR: 200px 'Ramabhadra', sans-serif;


body {
    font: 18px $font-body;
}

p {
    font: 18px $font-body;
    line-height: 37.8px;
}

ul, li {
    text-decoration: none;
    list-style: none;
    font: 18px $font-body;
}

.subtitles {
    font: 34px $font-title;
}

.NavBar a {
    font: 18px $font-body;
}

.main-footer-grid {
    font: 18px $font-body;
}

.ft-cta {
    font: 18px $font-body;
    font-weight: 700;
}


/* ABOUT */
.ab-banner {
    font: 48px $font-title;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.ab-title {
    font: 75px $font-title;
}

.tenants {
    font: 34px $font-title;
}

/* SERVICES */
.srv-banner {
    font: 48px $font-title;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.srv-title {
    font: 75px $font-title;
}

.com-sub, .ind-sub, .trustSub {
    font: 34px $font-title;
}

.srv-type {
    font: 34px $font-title;
}

/* NEWS */
.news-banner {
    font: 48px $font-title;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.news-title {
    font: 75px $font-title;
}

.news-sub1, .news-sub2, .news-sub3 {
    font: 34px $font-title;
}

/* CONTACT */
.con-banner{
    font: 48px $font-title;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.con-title {
    font: 75px $font-title;
}

.con-title2 {
    line-height: 96px;
}

.con-sub, .con-sub-ser {
    font: 34px $font-title;
}

.con-sub-ser {
    line-height: 52px;
}

/* CONTACT FORM */
.form-title {
    display: block;
    font: 18px $font-title;
    color: $primary-color;
}

input[type="text"], input[type="email"], textarea,
input:not([type]) {
    font: 18px $font-body;
    padding: .5rem;
}

button, .ctaTrain {
    font: 18px $font-body;
}

@media screen and (min-width: 736px) and (max-width: 1366px) {
    /* HOME */

    /* ABOUT */

    .tenants {
        font: 28px $font-title;
    }

    .news-sub1, .news-sub2, .news-sub3 {
        font: 28px $font-title;
        line-height: 42px;
    }

    /* CONTACT */

    .con-title2 {
        line-height: 84px;
    }

    .con-sub, .con-sub-ser {
        font: 28px $font-title;
    }

    .con-sub-ser {
        line-height: 48px;
    }

 }

//  @media screen and (max-width: 736px) {

//     p {
//         font: 80% $font-body;
//         letter-spacing: 3px;
//         line-height: 26px;
//     }

//     h1 {
//         font: 120% $font-title;
//         line-height: 30px;
//     }

//     .subtitles-mob {
//         font: 110% $font-title;
//         letter-spacing: 1.2px;
//     }

//     /* HOME */
//     .hm-title {
//         font: 200% $font-title;
//     }

//     /* ABOUT */
//     .ab-title {
//         font: 200% $font-title;
//         font-weight: bold;
//         letter-spacing: 3px;
//     }


//     /* SERVICES */
//     .srv-title {
//         font: 200% $font-title;
//         font-weight: bold;
//         letter-spacing: 3px;
//     }


//     /* CONTACT */
//     .con-title {
//         font: 200% $font-title;
//         font-weight: bold;
//         letter-spacing: 3px;
//     }

// }
