
$font-title: 'Ramabhadra', sans-serif;
$font-body: 'Open Sans', sans-serif;


body {
    font: 18px $font-body;
}

p {
    font: 18px $font-body;
    line-height: 37.8px;
}

ul, li {
    text-decoration: none;
    list-style: none;
    font: 18px $font-body;
}

.caption > h1 {
    font: 120px $font-title;
    margin: 0 0 8px;
}

.caption > p {
    font: 75px $font-title;
    line-height: 10px;
    margin-top: 0;
}

.ft-cta {
    font: 18px $font-body;
    font-weight: 700;
}

.subtitles {
    font: 34px $font-title;
}

.main-footer-grid {
    font: 18px $font-body;
}

/* HOME */


/* ABOUT */
.ab-banner-text, .ab-title {
    font: 75px $font-title;
}

.tenant1, .tenant2, .tenant3 {
    font: 34px $font-title;
}

/* SERVICES */
.srv-banner-text, .srv-title  {
    font: 75px $font-title;
}

.com-sub, .ind-sub {
    font: 34px $font-title;
}

/* NEWS */
.news-banner-text, .news-title {
    font: 75px $font-title;
}

.news-sub1, .news-sub2, .news-sub3 {
    font: 34px $font-title;
}

/* CONTACT */
.con-banner-text, .con-title {
    font: 75px $font-title;
}

.con-sub {
    font: 34px $font-title;
}

/* CONTACT FORM */
.form-title {
    display: block;
    font: 34px $font-title;
}

input[type="text"], input[type="email"], textarea,
input:not([type]) {
    font: 18px $font-body;
    padding: .5rem;
}

button {
    font: 18px $font-body;
}

// @media screen and (min-width: 736px) and (max-width: 1366px) {
//     /* HOME */
//     .hm-title {
//      font: 344% $font-title;
//      }

//      .subtitles {
//          font: 125% $font-title;
//          letter-spacing: 1.2px;
//      }

//      .subtitles-mob {
//          font: 125% $font-title;
//          letter-spacing: 1.2px;
//      }

//  }

//  @media screen and (max-width: 736px) {

//     p {
//         font: 80% $font-body;
//         letter-spacing: 3px;
//         line-height: 26px;
//     }

//     h1 {
//         font: 120% $font-title;
//         line-height: 30px;
//     }

//     .subtitles-mob {
//         font: 110% $font-title;
//         letter-spacing: 1.2px;
//     }

//     /* HOME */
//     .hm-title {
//         font: 200% $font-title;
//     }

//     /* ABOUT */
//     .ab-title {
//         font: 200% $font-title;
//         font-weight: bold;
//         letter-spacing: 3px;
//     }


//     /* SERVICES */
//     .srv-title {
//         font: 200% $font-title;
//         font-weight: bold;
//         letter-spacing: 3px;
//     }


//     /* CONTACT */
//     .con-title {
//         font: 200% $font-title;
//         font-weight: bold;
//         letter-spacing: 3px;
//     }

// }
